@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /*Primary*/
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /*Neutral*/
    --very-dark-blue: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --veryvdarkvblue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
    background: var(--very-dark-blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card,
.card__image {
    min-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.card {
    background: var(--very-dark-blue-card);
    padding: 1.5rem 0;
    border-radius: 1rem;
    margin: 1rem 1rem;
}

.background {
    width: 20rem;
    height: 20rem;
    position: absolute;
    align-self: center;
    border-radius: 1rem;
    display: grid;
    place-items: center;
}

.icon-view {
    width: 3rem;
    opacity: 0;
}

.background:hover {
    background: var(--cyan);
    opacity: .5;
    cursor: pointer;
}

.background:hover .icon-view {
    opacity: 1;
}

.main-icon {
    width: 80%;
    border-radius: 1rem;
    align-self: center;
}

.card__title,
.card__description,
.card__info,
.card__box {
    margin-left: 2rem;
}

.card__title {
    color: var(--white);
    margin-bottom: 0;
}

.card__description {
    width: 80%;
    color: var(--soft-blue);
}

.card__info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--soft-blue);
}

.card__info--price {
    color: var(--cyan);
}

.card__info--price::before {
    content: url('icon-ethereum.svg');
}

.card__info--time {
    color: var(--soft-blue);
}

.card__info--time::before {
    content: url('icon-clock.svg');
}

.card__info--price,
.card__info--time {
    position: relative;
}

.card__info--price::before,
.card__info--time::before {
    position: absolute;
    left: -25%;
    top: 5%;
}

.card__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card__box img {
    width: 10%;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.card__creator {
    color: var(--soft-blue);
    position: relative;
    margin-left: 1rem;
}

.card__creator .name {
    display: inline-block;
    color: var(--white);
}

.card__title:hover,
.name:hover {
    color: var(--cyan);
    cursor: pointer;
}

@media (min-width: 35rem) {
    .card {
        width: 25rem;
        height: 60vh;
        padding: 0;
        margin: 0;
    }

    .card__description {
        width: 70%;
    }
}